---
---

<header
	class="flex justify-between py-[3vh] px-[7vw] 2xl:py-[3vh] 2xl:px-[5vw]"
>
	<div class="logo text-4xl 2xl:text-5xl">vazut</div>
	<a href="/get_started/" class="h3 start">Start your journey</a>
</header>

<style>
	.start {
		font-family: "Figtree", sans-serif;
		max-height: 40px;
		border-radius: 4px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 8px 12px 6px;
		color: #fcedda;
		background-color: #ee4e34;
	}

	.logo {
		font-family: "EB Garamond", serif;
		font-weight: 400;
	}
</style>
