---
---

<header
	class="flex justify-between py-[3vh] px-[7vw] 2xl:py-[3vh] 2xl:px-[5vw]"
>
	<div class="logo text-4xl 2xl:text-5xl">vazut</div>
	<a
		href="/get_started/"
		class="max-h-10 rounded pt-2 px-3 pb-1.5 text-[#fcedda] bg-[#ee4e34]"
		>Start your journey</a
	>
</header>

<style>
	.logo {
		font-family: "EB Garamond", serif;
		font-weight: 400;
	}
</style>
