@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500;700&family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&family=Raleway:wght@500&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--highlight-shadow: #F99016;
}

.highlighted-special {
	text-shadow: -2px -2px 0 var(--highlight-shadow), 2px -2px 0 var(--highlight-shadow), -2px 2px 0 var(--highlight-shadow), 2px 2px 0 var(--highlight-shadow);
}

.highlighted {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.box-highlighted {
	box-shadow: 4px 5px 0px 1px #000;
	transition: all 100ms ease-in;

	&:hover {
		box-shadow: 2px 2px 0px 0px #000;
		transform: translateY(4px);
	}
}

.note-text {
	text-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
}

main {
	section:nth-of-type(1) {
		nav {
			background-image: url('./assets/nav-bg.webp');
			background-size: 100% auto;

			@media only screen and (max-width: 1023px) {
				background-image: url("./assets/nav-bg-sm.webp");
				background-size: auto 100%;
			}

			a,
			div {
				text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 2px 2px 10px rgba(0, 0, 0, .5);
			}

			a {
				@apply relative;

				&::after {
					@apply content-[''] block absolute h-[3px] w-full scale-x-0 bg-white border-black border-[1px] origin-center transition-transform;

					&:hover {
						@apply scale-x-100;
					}
				}
			}
		}
	}

	section:nth-of-type(3) {
		.preview::before {
			position: absolute;
			content: "Preview";
			left: 0px;
			top: 0px;
			width: 100rem;
			display: block;
		}
	}

	section:nth-of-type(4) p {
		text-shadow: 3px 2px 15px rgba(0, 0, 0, .1);
	}

	section:nth-of-type(8) p,
	section:nth-of-type(9) p {
		text-shadow: 3px 2px 15px rgba(0, 0, 0, .1);
	}
}

.fade_up,
.fade_left,
.fade_right {
	opacity: 0;
	filter: blur(3px);

	@media (prefers-reduced-motion: no-preference) {
		transition: 0.7s ease;
		transition-property: opacity, filter, transform;
	}
}

.fade_up {
	transform: translateY(100px);
}

.fade_left {
	transform: translateX(-50px);
}

.fade_right {
	transform: translateX(50px);
}

.fade_show {
	opacity: 1;
	filter: blur(0);
	transform: translateY(0);
	transform: translateX(0);
}